@model long
@{
	ViewBag.Title = "Display";
}

<h2>Here you can view user info.</h2>

<ul>
	<li>@Html.ActionLink("Show settings for this user", "Index", "UserSettings", new { area = "Admin", id = @Model * 10 }, null)</li>
</ul>

